<h1>#GLOBAL_TITLE#</h1>

<h2>#SUMMARY_RESULTS_TITLE#</h2>

<p>
    <span style="font-weight: bold">#GLOBAL_STATE_LABEL#</span><span style="color: #GLOBAL_STATE_COLOR#">&nbsp;#GLOBAL_STATE#</span>
    <br/>
    <span style="font-weight: bold">#LOST_PING_COUNT_LABEL#</span><span style="font-weight: bold; font-style: italic">&nbsp;#COUNT_TYPE#</span><span>&nbsp;#LOST_PING_COUNT#</span>
    <br/>
    <span style="font-weight: bold">#LOST_CONNECTIONS_LABEL#</span><span style="font-weight: bold; font-style: italic">&nbsp;#LOST_CONNECTIONS_TYPE#</span><span>&nbsp;#LOST_PING_COUNT#</span>
</p>
<p>
    <span style="font-weight: bold">#ACTIVE_ALARMS_COUNT_LABEL#</span><span style="font-weight: bold; font-style: italic">&nbsp;#COUNT_TYPE#</span><span>&nbsp;#ACTIVE_ALARMS_COUNT#</span>
    <br/>
    <span style="font-weight: bold">#CLEARED_ALARMS_COUNT_LABEL#</span><span style="font-weight: bold; font-style: italic">&nbsp;#COUNT_TYPE#</span><span>&nbsp;#CLEARED_ALARMS_COUNT#</span>
</p>

<br/>

<h2>#JOB_RESULTS_TITLE#</h2>

<table width="100%" cellspacing="0" border="1">
    <tr>
        <th align="center" style="font: bold; padding-left: 5px; padding-right: 5px">#JOB_SERVER_NAME_HEADER#</th>
        <th align="center" style="font: bold padding-left: 5px; padding-right: 5px">#JOB_SERVER_IP_HEADER#</th>
        <th align="center" style="font: bold padding-left: 5px; padding-right: 5px">#JOB_SERVER_TYPE_HEADER#</th>
        <th align="center" style="font: bold padding-left: 5px; padding-right: 5px">#JOB_INTERFACE_HEADER#</th>
        <th align="center" style="font: bold padding-left: 5px; padding-right: 5px">#JOB_ADDRESS_TYPE_HEADER#</th>
        <th align="center" style="font: bold padding-left: 5px; padding-right: 5px">#JOB_LOST_PINGS_HEADER#<br><span style="font-style: italic">#COUNT_TYPE#</span></th>
        <th align="center" style="font: bold padding-left: 5px; padding-right: 5px">#JOB_LOST_CONNECTIONS_HEADER#<br><span style="font-style: italic">#COUNT_TYPE#</span></th>
        <th align="center" style="font: bold padding-left: 5px; padding-right: 5px">#JOB_ROUND_TRIP_HEADER#</th>
    </tr>
    #JOB_RESULT#
</table>

<br/>
