<table width="100%" height="200" border="0" cellpadding="0" cellspacing="0"> 
	<tr id="row_barchart">
	</tr>
	<tr id="row_legend">
		<td id="column_legend_download" valign="bottom">
			<table id="table_legend_download" width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width:10px" align="center">
				<tr>
					<td id="column_legend_download_color" width="10" height="10" style="font-size:0px; line-height:0px; background-color:blue" />
				</tr>
				<tr>
					<td id="column_legend_download_text" width="10" height="10" style="font-size:0px; line-height:0px; background-color:blue" />
				</tr>
			</table>
		</td
		<td id="column_legend_upload" valign="bottom">
			<table id="table_legend_upload" width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width:10px" align="center">
				<tr>
					<td id="column_legend_upload_color" height="10" style="font-size:0px; line-height:0px; background-color:purple" />
				</tr>
			</table>
		</td
	</tr>
</table>
