                <!-- MEASUREMENT ##MEASUREMENT# -->
                <td>
                    <table class="table-result">
                        <tr>
                            <td>
                                <table class="table-measurements">
                                    <tr>
                                        <td>
                                            <table class="table-measurement">
                                                <tr>
                                                    <td class="td-measurement">
                                                        <table width="100%">
                                                            <tr>
                                                                <td class="td-measurement-download-value">90</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="td-measurement-download-bar" height="90"/>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="td-measurement">
                                                        <table width="100%">
                                                            <tr>
                                                                <td class="td-measurement-upload-value">10</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="td-measurement-upload-bar" height="10"/>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                    </tr>
                                    <tr>
                                        <td class="td-measurement-label">Measurement #1<br>now</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
