<style media="screen" type="text/css">

</style>


<table width="100%" cellspacing="0" cellpadding="0" border="0">

    <!-- BAR CHART -->
    <tr>

        <!-- Bar chart table -->
        <table width="150%" cellspacing="10" cellpadding="0"  style="border-left: 1px solid; border-bottom: 1px solid">

            <tr valign="bottom">

                <!-- MEASUREMENT #1 -->
                <td>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tr>
                                        <td>
                                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tr>
                                                    <td valign="bottom" width="50%">
                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tr>
                                                                <td align="center" style="color: blue">90</td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="bottom" style="background-color: blue" height="90"/>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td valign="bottom" width="50%">
                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tr>
                                                                <td align="center" style="color: purple">10</td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="bottom" style="background-color: purple" height="10"/>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                    </tr>
                                    <tr>
                                        <td align="center">Measurement #1<br>now</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>

                <!-- MEASUREMENT #2 -->
                <td>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                    <tr>
                                        <td>
                                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tr>
                                                    <td valign="bottom" width="50%">
                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tr>
                                                                <td align="center" style="color: blue">0</td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="bottom" style="background-color: blue" height="0"/>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td valign="bottom" width="50%">
                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tr>
                                                                <td align="center" style="color: purple">0</td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="bottom" style="background-color: purple" height="0"/>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                    </tr>
                                    <tr>
                                        <td align="center">Measurement #2<br>now</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>

                <!-- MEASUREMENT #3 -->
                <td>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tr>
                                        <td>
                                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tr>
                                                    <td valign="bottom" width="50%">
                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tr>
                                                                <td align="center" style="color: blue">120</td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="bottom" style="background-color: blue" height="120"/>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td valign="bottom" width="50%">
                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tr>
                                                                <td align="center" style="color: purple">30</td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="bottom" style="background-color: purple" height="30"/>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                    </tr>
                                    <tr>
                                        <td align="center">Measurement #1<br>now</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>

                <!-- MEASUREMENT #4 -->
                <td>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tr>
                                        <td>
                                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                <tr>
                                                    <td valign="bottom" width="50%">
                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tr>
                                                                <td align="center" style="color: blue">95</td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="bottom" style="background-color: blue" height="95"/>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td valign="bottom" width="50%">
                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tr>
                                                                <td align="center" style="color: purple">68</td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="bottom" style="background-color: purple" height="68"/>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                    </tr>
                                    <tr>
                                        <td align="center">Measurement #4<br>now</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>

            </tr>

        </table>

    </tr>

    <!-- LEGEND -->
    <tr id="row_legend">
        <table cellspacing="10" width="100%" >
            <tr>
                <td id="column_legend_download" width="50%" valign="center" height="10%">
                    <table id="table_legend_download" width="100%" cellpadding="0" cellspacing="5" border="0" align="center">
                        <tr>
                            <td id="column_legend_download_color" align="center">
                                <table id="table_legend_download_color" align="right">
                                    <tr>
                                        <td width="10" height="10" style="background-color:blue" />
                                    </tr>
                                </table>
                            </td>
                            <td id="column_legend_download_text" width="5%">
                                <table id="table_legend_download_text" align="left">
                                    <tr>
                                        <td>Download</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td id="column_legend_upload" width="50%" valign="center">
                    <table id="table_legend_upload" width="100%" cellpadding="0" cellspacing="5" align="center">
                        <tr>
                            <td id="column_legend_upload_color" width="5%" align="center">
                                <table id="table_legend_upload_color" align="right">
                                    <tr>
                                        <td width="10" height="10" style="background-color:purple" />
                                    </tr>
                                </table>
                            </td>
                            <td id="column_legend_upload_text">
                                <table id="table_legend_upload_text" align="left">
                                    <tr>
                                        <td>Upload</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </tr>
</table>
