                <!-- MEASUREMENT ##MEASUREMENT# -->
                <td>
                    <table class="table-result">
                        <tr>
                            <td>
                                <table class="table-measurements">
                                    <tr>
                                        <td>
                                            <table class="table-measurement">
                                                <tr>
                                                    <td class="td-measurement">
                                                        <table class="table-measurement-value">
                                                            <tr>
                                                                <td class="td-measurement-download-value">#DOWNLOAD#</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="td-measurement-download-bar" height="#DOWNLOAD_HEIGHT#"/>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="td-measurement">
                                                        <table class="table-measurement-value">
                                                            <tr>
                                                                <td class="td-measurement-upload-value">#UPLOAD#</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="td-measurement-upload-bar" height="#UPLOAD_HEIGHT#"/>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                    </tr>
                                    <tr>
                                        <td class="td-measurement-label">#CATEGORY#</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
