<!-- MEASUREMENT ##MEASUREMENT# -->
<td>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                    <td valign="bottom" width="50%">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr>
                                                <td align="center" style="color: #DOWNLOAD_COLOR#">#DOWNLOAD#</td>
                                            </tr>
                                            <tr>
                                                <td valign="bottom" style="background-color: #DOWNLOAD_COLOR#" height="#DOWNLOAD_HEIGHT#"/>
                                            </tr>
                                        </table>
                                    </td>
                                    <td valign="bottom" width="50%">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr>
                                                <td align="center" style="color: #UPLOAD_COLOR#">#UPLOAD#</td>
                                            </tr>
                                            <tr>
                                                <td valign="bottom" style="background-color: #UPLOAD_COLOR#" height="#UPLOAD_HEIGHT#"/>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                    </tr>
                    <tr>
                        <td align="center">#CATEGORY#</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</td>
